.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}
h1{
  font-size: 28px;
    }
}
#blogtitle {
    font-size: 4rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 5rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}